<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Menu</h2>
            </header>
            <ul>
                <li><a data-path="index.html">Homepage</a></li>

                <li>
                    <span class="opener"><a data-path="ICM.html">Intro to Comp Media</a></span>
                    <ul>
                        <li><a data-path="pages/ICM/ICM03.html">Week 3</a></li>
                        <li><a data-path="pages/ICM/ICM02.html">Week 2</a></li>
                        <li><a data-path="pages/ICM/ICM01.html">Week 1</a></li>
                    </ul>
                </li>

                <li>
                    <span class="opener"><a data-path="PhysicalComputing.html">Physical Computing</a></span>
                    <ul>
                        <li><a data-path="pages/PCom/PCom01_ele.html">Electrical Knowledge</a></li>
                        <li><a data-path="pages/PCom/PCom01_parts.html">Parts and Tools</a></li>
                    </ul>
                </li>

                <li><a data-path="Applications.html">Applications</a></li>

                <li><a data-path="Hypercinema.html">Hypercinema</a></li>

                <li><a data-path="VisuslLanguage.html">Visual Language</a></li>

            </ul>
        </nav>

        <!-- Section -->
        <section>
            <!-- <header class="major">
                <h2>My Taste</h2>
            </header>
            <div class="mini-posts">
                <article>
                    <a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                </article>
                <article>
                    <a href="#" class="image"><img src="images/pic08.jpg" alt="" /></a>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                </article>
                <article>
                    <a href="#" class="image"><img src="images/pic09.jpg" alt="" /></a>
                    <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
                </article>
            </div>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul>
        </section> -->

        <!-- Section -->
        <section>
            <header class="major">
                <h2>Get in touch</h2>
            </header>
            <p>
                Please feel free to contact me!
            </p>
            <ul class="contact">
                <li class="icon solid fa-envelope"><a href="">sl13537@nyu.edu</a></li>
                <!-- <li class="icon solid fa-phone">(000) 000-0000</li> -->
                <!-- <li class="icon solid fa-home">1234 Somewhere Road #8254<br />
                    Nashville, TN 00000-0000</li> -->
            </ul>
        </section>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; 2026 Phoebula ✦ Made by Phoebe. Demo Images: <a
                    href="https://unsplash.com">Unsplash</a>. Template: <a href="https://html5up.net">HTML5
                    UP</a>.</p>
        </footer>

    </div>
</div>